.selection-infobox-group {
    @include media-breakpoint-up(md) {
        .copy-h-spacer {
            margin-top: calc(22px + 8px);
        }
    }
}

.selection-infobox {
    color: $p2;
    width: 100%;
    @include media-breakpoint-up(md) {
        width: 50%;
    }
    input[type="radio"],
    input[type="checkbox"] {
        display: none;
        &:checked {
            +.box {
                background-color: $p2;
                color: white;
                fill: white;
                .custom-rounded-checked {
                    background-color: $s1;
                    border-color: $s1;
                }
                .custom-rounded-checked .icon {
                    opacity: 1;
                }
            }
        }
    }
    &.disabled {
        opacity: .5;
    }
    .box {
        width: 100%;
        height: auto;
        border-radius: $btn-border-radius;
        border: 2px solid $p2;
        background-color: $white;
        transition: all 250ms ease;
        will-change: transition;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    label {
        transition: 250ms ease;
        will-change: transform;
        &:active {
            transform: translateY(10px);
        }
    }
    p {
        color: $white;
        font-weight: $font-weight-normal;
        a {
            text-decoration: underline;
            font-weight: bold;
        }
    }
    strong {
        font-weight: $font-weight-bold;
    }
    .custom-rounded-checked {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50px;
        border: 2px solid $p2;
        .icon {
            opacity: 0;
        }
    }
}

.motorcycle-selection {
    .flag-recommended {
        color: #fff;
        background-color: $p1;
        border-top-left-radius: .625rem;
        border-top-right-radius: .625rem;
    }
    .has-recommended {
        .box {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    input[type="radio"],
    input[type="checkbox"] {
        display: none;
        &:checked {
            +.box {
                .box--body {
                    color: white;
                    fill: white;
                }
            }
        }
    }
    .box--body {
        padding-left: 42px !important;
        padding-right: 42px !important;
        color: black;
        fill: black;
    }
    .custom-rounded-checked {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50px;
        border: 2px solid $p2;
        .icon {
            opacity: 0;
        }
    }
}

.check-list-container {
    .disabled-check {
        opacity: 0.6;
    }
    .maRow input[type=checkbox]+span {
        font-weight: normal;
        color: gray;
    }
    .maRow input[type=checkbox]:checked+span {
        font-weight: bold;
        color: black;
    }
    .form-check input[type=checkbox]:checked+label {
        font-weight: bold;
        color: black;
    }
}