<div class="summary-pane sticky-top" id="sidebar">
	<div class="section-header bg-p2 py-3 px-4">
		<h2 class="w">Summary</h2>
	</div>
	<div class="bg-w py-3 px-4">
		<p class="bt1">Coverage</p>
		<table>
			<tr>
				<td width="55px">Type <span class="float-right pr-1"> : </span></td>
				<td>Single Trip</td>
			</tr>
			<tr>
				<td width="55px">Area <span class="float-right pr-1"> : </span></td>
				<td>Area 4</td>
			</tr>
			<tr>
				<td width="55px">Period <span class="float-right pr-1"> : </span></td>
				<td>20/08/2019 - 19/09/2019 (30 Days)</td>
			</tr>
			<tr>
				<td width="55px">Plan <span class="float-right pr-1"> : </span></td>
				<td>Plan 2</td>
			</tr>
		</table>
		<hr />
		<p class="bt1">No. of Insured</p>
		<p>1 Person</p>
		<hr />
		<p class="text-right bt1 pr-3">RM</p>
		<div class="bg-p2c d-flex justify-content-between px-3 py-4 rounded mb-3">
			<p class="bt2 mb-0">Basic Premium</p>
			<p class="bt2 mb-0">58.00</p>
		</div>

		<p class="text-left bt1 pr-3 pb-0">Add-On</p>
		<div class="d-flex justify-content-between pr-3 pb-0 mb-3">
			<p class="bt2 mb-0">Sports Fan Add-On</p>
			<p class="bt2 mb-0">15.00</p>
		</div>

		<div class="d-flex justify-content-between pr-3 py-3 mb-3">
			<p class="bt1 mb-0">Total Add-On</p>
			<p class="bt1 mb-0">15.00</p>
		</div>


		<div class="bg-p2c px-3 py-4 mb-3 rounded">
			<div class="d-flex justify-content-between">
				<p class="bt2 mb-1">Gross Premium</p>
				<p class="bt2 mb-0">58.00</p>
			</div>
			<div class="d-flex justify-content-between">
				<p class="bt2 mb-0">Rebate (25%)</p>
				<p class="bt2 mb-0">(14.50)</p>
			</div>
			<div class="divider"></div>
			<div class="d-flex justify-content-between">
				<p class="bt2 mb-1">
					<strong>Subtotal</strong>
				</p>
				<p class="bt2 mb-0">
					<strong>43.50</strong>
				</p>
			</div>
			<div class="d-flex justify-content-between">
				<p class="bt2 mb-1">Service Tax (6%)</p>
				<p class="bt2 mb-0">0.00</p>
			</div>
			<div class="d-flex justify-content-between">
				<p class="bt2 mb-0">Stamp Duty</p>
				<p class="bt2 mb-0">10.00</p>
			</div>
		</div>

		<div class="d-flex justify-content-between">
			<p class="bt1 p2">Total Amount Payable</p>
			<p class="h2 p2 pr-3">0.00</p>
		</div>
	</div>
</div>