<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MSIG</title>
</head>
<body >
    <header class="travel-insurance-new">
        {% include "../components/navigation.twig" %}
    </header>
    <main class="travel-insurance-new" id="main-content">
        {% block main %}{% endblock %}
    </main>
    <footer class="travel-insurance-new">
        {% include "../components/footer.twig" %}
    </footer>
    {% block extras %}{% endblock %}
</body>

</html> 