.divider {
    height: 1px;
    background-color: #1b1464;
    width: 100%;
    display: block;
    margin: 1rem 0;
    backface-visibility: hidden;
}


.divider-2 {
    height: 3px;
    background-color:$color-blue-4;
    width: 100%;
    display: block;
    margin: 1rem 0;
    backface-visibility: hidden;
}