.form-group.variant-date-picker {
    position: relative;
    stroke: $p2;
    .form-control {
        padding: 0;

        & > div:not(.vdp-datepicker__calendar) {
            height: 100%;
        }
    }

    input {
        width: 100%;
        height: auto;
        border: none;
        padding: 0.375rem 1rem;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-style: italic;
        }
    }

    .vdp-datepicker__calendar {
        width: 100%;
        border: none;
        box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
        
        header {
            .prev, .day__month_btn, .next {
                background-color: $p2;
                color: #fff;

                &:hover {
                    background-color: darken($p2, 10%);
                }
            }

            .prev::after {
                border-right-color: #fff;
            }

            .next::after {
                border-left-color: #fff;
            }
        }
    }

    .icon {
        position: absolute;
        /*top: 50%; */
        /*top: 20px; sl comment*/
        right: 10px;
        top: 28%;
        /*transform: translateY(-50%); sl comment*/
        pointer-events: none;
    }
}