<div class="promotion-widget {{class}}">
    <h1 class="container  mb-3 font-weight-bold pt-md-5 pt-4 ">{{title}}</h1>
    <div class="jumbotron text-center mb-0 align-items-center d-flex  justify-content-center bg-promotion"
        style="background:url(../../src/spa-assets/img/bg-highlight-detail.jpg) no-repeat; background-size: cover; background-position: center;">

        <div>
            <!-- desktop -->
            <h1 class="d-none d-md-block  mb-3 color-white">Drive with</h1>
            <h1 class="d-none d-md-block mb-3 color-white font-weight-normal">peace of mind this holiday season</h1>

            <!-- mobile -->
            <h1 class="d-block d-md-none ft-1 mb-3 color-white">Drive with </h1>
            <h1 class="d-block d-md-none ft-1 mb-3 color-white font-weight-normal"> peace of mind this</h1>
            <h1 class="d-block d-md-none ft-1 mb-3 color-white font-weight-normal"> holiday season</h1>


            <p class="bt4 color-white mb-1">Receive complimentary TGV Movie Ticket when you get insured with us.* </p>
                    <p class="bt4 color-white mb-0"> *Terms & Conditions apply</p>
            <a href="./form.html" role="button" class="mt-5 btn btn-l btn-default btn-secondary">Learn More</a>

        </div>
    </div>
</div>