<div
    class="tab-button d-flex flex-md-row flex-column align-items-center justify-content-center pb-md-2 pb-3 {{tabClass}}">
    <span class="mr-md-2">
        <svg class="icon icon-3xl">
            <use xlink:href="spa-assets/icons/icons.svg#sprite-{{iconName}}"
                href="spa-assets/icons/icons.svg#sprite-{{iconName}}"></use>
        </svg>
    </span>

    <h2 class="title mb-0">{{title}}</h2>
    <div class=" bottom-line"></div>
</div>