<div class="banner-header-title jumbotron  mb-0 rounded-0 d-flex justify-content-center align-items-center {{wrapperClass}}">
    <div class="row">
        <div class="{{textBoxClass}}">
            <h1 class="font-weight-bold">{{title}}</h1>
            <p class="bt1 font-weight-normal m-auto pr-3 pl-3">{{desc}}</p>
        </div>
    </div>
</div>
