{% verbatim %}
    <div class="nav variant-steppers">
        <div :class="{
            'nav-item step': true,
            'current': currStep == step,
            'completed': step.completed
        }" v-for="step in steps" v-bind:key="steps.indexOf(step)">
            <div class="step-indicator">
                <span>
                    {{ step.step }}
                </span>
                <svg class="icon icon-s tick-mark">
                    <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark" href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                </svg>
            </div>
            <div class="step-title">{{ step.title }}</div>
        </div>
    </div>
{% endverbatim %}