/** Helpers and Utilities **/

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";
@import "mixins";
@import "custom/variables";
@import "custom/fonts";
@import "node_modules/bootstrap/scss/root";

@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/tooltip"; 
 

/** Client base css **/
body {
    font-size: 1.0em;
    line-height: 1.4;
    font-family: 'pt_sansregular', Tahoma, Geneva, sans-serif;
    height: 100%;
    background: #fff;
    overflow-x: hidden;
    margin: 0px;
}

.travel-insurance-new {

    #travel-form {
        opacity: 0;
    }

    /** Bootstrap Reboot only under travel-insurance-new scope **/
    @import "node_modules/bootstrap/scss/reboot";

    font-size: 1em;
    line-height: 1.4;
    font-family: 'pt_sansregular',
    Tahoma,
    Geneva,
    sans-serif;

    input[type="radio"]+label,
    input[type="checkbox"]+label {
        background: none;
    }

    header {
        margin: auto;
    }

    header span {
        position: static;
        right: auto;
        top: auto;
        font-size: 1rem;
        line-height: 40px;
    }

    .flag-recommended {
        min-height: 22px;
    }

    .error-message {
        padding-top: 3px;
        display: inline-block;
    }

    a:hover {
        text-decoration: none;
    }

    #about-travelSection>button {
        width: 100%;
        height: 81px;
        border-radius: 0 0 9px 9px;
        background: rgba(27, 20, 100, 0.25);
        color: rgba(27, 20, 100, 0.3);
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        border: none;
        font-weight: bold;
        margin: 0 5.5px 0 5.5px;
        padding: 0 23px 0 24px;
    }

    #about-travelSection .selected {
        background: rgba(225, 31, 39, 1);
        color: rgba(255, 255, 255, 1);
        box-shadow: 0px 18px 23px -22px rgba(225, 31, 39, 1);
    }


    .formFamilyContainer {
        background: transparent;
        border-radius: 0;
        box-shadow: none;

        .formFamily {
            &.roundWrapperContent {
                padding: 0px;
            }
        }
    }

    .travelTNC {
        color: #fff;
        overflow: hidden;
        overflow-y: auto;

        a {
            text-indent: 100%;
            float: right;
            background: url(../../src/spa-assets/img/side-menu-close-btn.png) no-repeat center right;
        }

        @include media-breakpoint-down(md) {
            bottom: 5%;
        }

    }


    /** End of Client base css **/

    /** Components **/
    @import "components/pdp-table.scss";
    @import "components/steppers.scss";
    @import "components/icons.scss";
    @import "components/form-wizard.scss";
    @import "components/form-inputs.scss";
    @import "components/input-variant-radio.scss";
    @import "components/input-variant-checkbox.scss";
    @import "components/input-variant-textbox.scss";
    @import "components/input-variant-datepicker.scss";
    @import "components/input-variant-autocomplete.scss";
    @import "components/divider.scss";
   // @import "components/selection-infobox.scss";
    @import "components/list-variant-icon.scss";
    @import "components/travel-details.scss";
    @import "components/list-variant-bank.scss";
    @import "components/vertical-scroller.scss";
    @import "components/homepage.scss";
    @import "components/cards.scss";
    @import "components/ttk-pdp.scss";
    @import "components/motorcycle-pdp.scss";
    @import "components/detail-page.scss";
    @import "components/popup.scss";
    @import "components/page-loader.scss";
    @import "components/modal.scss";
    @import "components/navigation.scss";
    @import "components/footer.scss";
    @import "components/banner-header-title.scss";
    @import "components/buttons.scss";
    @import "components/rounded-corners.scss";
    @import "components/credit-card-indicator.scss";
    @import "components/summary-pane";
    
    /** Page Specific styling **/
    @import "pages/payment-completed.scss";

    /** Customizations **/
    @import "custom/utilities";
    @import "custom/form";

    /** Bootstrap **/
    @import "node_modules/bootstrap/scss/images";
    @import "node_modules/bootstrap/scss/code";
    @import "node_modules/bootstrap/scss/grid";
    @import "node_modules/bootstrap/scss/tables";
    @import "node_modules/bootstrap/scss/forms";
    @import "node_modules/bootstrap/scss/buttons";
    @import "node_modules/bootstrap/scss/transitions";
    @import "node_modules/bootstrap/scss/dropdown";
    @import "node_modules/bootstrap/scss/button-group";
    @import "node_modules/bootstrap/scss/input-group";
    @import "node_modules/bootstrap/scss/custom-forms";
    @import "node_modules/bootstrap/scss/nav";
    @import "node_modules/bootstrap/scss/navbar";
    @import "node_modules/bootstrap/scss/card";
    @import "node_modules/bootstrap/scss/breadcrumb";
    @import "node_modules/bootstrap/scss/pagination";
    @import "node_modules/bootstrap/scss/badge";
    @import "node_modules/bootstrap/scss/jumbotron";
    @import "node_modules/bootstrap/scss/alert";
    @import "node_modules/bootstrap/scss/progress";
    @import "node_modules/bootstrap/scss/media";
    @import "node_modules/bootstrap/scss/list-group";
    @import "node_modules/bootstrap/scss/close";
    @import "node_modules/bootstrap/scss/toasts";  
    @import "node_modules/bootstrap/scss/popover";
    @import "node_modules/bootstrap/scss/carousel";
    @import "node_modules/bootstrap/scss/spinners";
    @import "node_modules/bootstrap/scss/utilities";
    @import "node_modules/bootstrap/scss/print";


}

@import "components/tooltip.scss"; 
@import "node_modules/bootstrap/scss/modal";


// copy from client css
.travelTNC {
    color: #fff;
    overflow: hidden;
    overflow-y: auto;
}

.travelTNC>a {
    text-indent: 100%;
    float: right;
    background: url(../spa-assets/img/side-menu-close-btn.png) no-repeat center right
}

@media(max-width: 991.98px) {
    .travelTNC {
        bottom: 5%
    }
}

@media(min-width: 768px) {
    .travelTNC {
        height: 44%;
    }
}

.travel-insurance-new .d-flex.hidden {
    display: none !important;
}

.travel-insurance-new .pdp-table .accordion .accordion-content-wrapper .icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.travel-insurance-new .pdp-table .accordion .accordion-content-wrapper .collapsed .icon {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease
}

@media(max-width: 767px) {
    .travel-insurance-new .pdp-table .accordion .accordion-content-wrapper .title-box {
        background: #fff
    }
}
// copy client css end

.travel-insurance-new .vertical-scroller > div {
    min-height:300px;
}

// main-ttk.css
.travel-insurance-new svg.icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    fill: currentColor;
    /* Smaller than 1rem icons */
    /* Larger than 1rem icons */
  }
  .travel-insurance-new svg.icon.icon-s {
    height: -0.5rem;
    width: -0.5rem;
  }
  .travel-insurance-new svg.icon.icon-xs {
    height: 0rem;
    width: 0rem;
  }
  .travel-insurance-new svg.icon.icon-xxs {
    height: 0.5rem;
    width: 0.5rem;
  }
  .travel-insurance-new svg.icon.icon-m {
    height: 1.5rem;
    width: 1.5rem;
  }
  .travel-insurance-new svg.icon.icon-l {
    height: 2rem;
    width: 2rem;
  }
  .travel-insurance-new svg.icon.icon-xl {
    height: 2.5rem;
    width: 2.5rem;
  }
  .travel-insurance-new svg.icon.icon-xxl {
    height: 3rem;
    width: 3rem;
  }
  .travel-insurance-new svg.icon.icon-3xl {
    height: 3.5rem;
    width: 3.5rem;
  }
  .travel-insurance-new svg.icon.icon-4xl {
    height: 4rem;
    width: 4rem;
  }
  .travel-insurance-new svg.icon.icon-5xl {
    height: 4.5rem;
    width: 4.5rem;
  }
  .travel-insurance-new svg.icon.icon-6xl {
    height: 5rem;
    width: 5rem;
  }
  .travel-insurance-new svg.icon.icon-7xl {
    height: 5.5rem;
    width: 5.5rem;
  }
  .travel-insurance-new svg.icon.icon-8xl {
    height: 6rem;
    width: 6rem;
  }
  .travel-insurance-new svg.icon.icon-9xl {
    height: 6.5rem;
    width: 6.5rem;
  }
  .travel-insurance-new svg.icon.icon-10xl {
    height: 7rem;
    width: 7rem;
  }
  .travel-insurance-new svg.icon.icon-11xl {
    height: 7.5rem;
    width: 7.5rem;
  }

  .travel-insurance-new .overflow-hidden {
    overflow: hidden !important;
}
.travel-insurance-new .selection-infobox {
color: #1B1464;
width: 100%;
}
@media (min-width: 992px) {
    .travel-insurance-new .selection-infobox {
    width: 50%;
}
}
.travel-insurance-new .selection-infobox input[type=radio],
.travel-insurance-new .selection-infobox input[type=checkbox] {
display: none;
}
.travel-insurance-new .selection-infobox input[type=radio]:checked + label .box,
.travel-insurance-new .selection-infobox input[type=checkbox]:checked + label .box,
.travel-insurance-new .selection-infobox input[type=radio]:checked + .box,
.travel-insurance-new .selection-infobox input[type=checkbox]:checked + .box {
background-color: #1B1464;

    div p{
        color: white;
        fill: white;
    }
}
.travel-insurance-new .selection-infobox input[type=radio]:checked + label .box .custom-rounded-checked,
.travel-insurance-new .selection-infobox input[type=checkbox]:checked + label .box .custom-rounded-checked,
.travel-insurance-new .selection-infobox input[type=radio]:checked +  .box .custom-rounded-checked,
.travel-insurance-new .selection-infobox input[type=checkbox]:checked +  .box .custom-rounded-checked {
background-color: #27AE60;
border-color: #27AE60;
}
.travel-insurance-new .selection-infobox input[type=radio]:checked + label .box .custom-rounded-checked .icon,
.travel-insurance-new .selection-infobox input[type=checkbox]:checked + label .box .custom-rounded-checked .icon,
.travel-insurance-new .selection-infobox input[type=radio]:checked +  .box .custom-rounded-checked .icon,
.travel-insurance-new .selection-infobox input[type=checkbox]:checked +  .box .custom-rounded-checked .icon {
opacity: 1;
fill: #fff;
}
.travel-insurance-new .selection-infobox input[type=radio]:checked +  .box svg,
.travel-insurance-new .selection-infobox input[type=checkbox]:checked +  .box svg,
.travel-insurance-new .selection-infobox input[type=radio]:checked +  .box .tick-mark,
.travel-insurance-new .selection-infobox input[type=checkbox]:checked +  .box .tick-mark,
.travel-insurance-new .selection-infobox input[type=radio]:checked+label  .box .tick-mark {
    // -webkit-filter: brightness(100);
    //         filter: brightness(100);
    color:#fff;
}

.travel-insurance-new .selection-infobox.disabled {
opacity: 0.5;
}
.travel-insurance-new .selection-infobox .box {
width: 100%;
height: auto;
border-radius: 0.625rem;
border: 2px solid #1B1464;
background-color: #fff;
-webkit-transition: all 250ms ease;
transition: all 250ms ease;
will-change: transition;
display: inline-block;
text-align: center;
cursor: pointer;
position: relative;
}
.travel-insurance-new .selection-infobox .box:active {
-webkit-transform: translateY(10px);
        transform: translateY(10px);
}
.travel-insurance-new .selection-infobox p {
color: #fff;
font-weight: 400;
}
.travel-insurance-new .selection-infobox p a {
text-decoration: underline;
font-weight: bold;
}
.travel-insurance-new .selection-infobox strong {
font-weight: 700;
}
.travel-insurance-new .selection-infobox .custom-rounded-checked {
display: inline-block;
background-color: white;
width: 50px;
height: 50px;
text-align: center;
border-radius: 50px;
border: 2px solid #1B1464;
}
.travel-insurance-new .selection-infobox .custom-rounded-checked .icon {
opacity: 0;
}


// ttk-new.css

.travel-insurance-new .variant-date-picker .form-control ::placeholder {
    font-style: italic !important;
}
.travel-insurance-new #nricNo::placeholder {
    color: black !important;
    font-style: italic !important;
}

.travel-insurance-new .vdp-datepicker .text-black ::placeholder {
    color: black !important;
}
.travel-insurance-new .selection-infobox p {
    color: black;
}

.travel-insurance-new .selection-infobox input[type=radio]:checked p {
    color: white;
}

.travel-insurance-new .selection-infobox .bold {
    font-weight: bolder !important;
}

.travel-insurance-new .variant-date-picker .form-control :disabled {
    background-color: #d1d0e0;
    color:#000;
}

.travel-insurance-new .icon-opacity {
    opacity: 1 !important;
    fill: white !important;
}


.travel-insurance-new .swiper-button-next-form, .travel-insurance-new .swiper-button-prev-form{
    font-size: 30px !important;
    color: white !important;
    background-color: #1B1464 !important;
    height: 35px;
    min-width: 35px;
    width: 27px;
    border-radius: 50%;
    padding-left: 0px !important;
    padding-top: 0px !important;
}

.travel-insurance-new .swiper-button-next-form::after {
    content:none;
    /*font-size: 30px !important;*/
}

.travel-insurance-new .swiper-button-prev-form::after {  
    content:none;
    /*font-size: 30px !important;*/
}


.travel-insurance-new .swiper-button-prev-overwrite{
    top: 58% !important;
}

.travel-insurance-new .swiper-button-next-overwrite{
    top: 58% !important;
}
.travel-insurance-new .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    margin: 0 12px !important;
}

.travel-insurance-new .swiper-pagination-bullet-active {
    background-color: #1B1464 !important;
  }

  .travel-insurance-new .swiper-slide-opacity4:nth-child(n+4){
    opacity: 0.5 !important;
}

.travel-insurance-new .swiper-slide-opacity1:nth-child(1){
    opacity: 0.5 !important;
}

@media (min-width:720px) {
    .travel-insurance-new .btn-ttk {
        height: 48px !important;
        width: 164px !important;
        padding: 0.7rem 1rem !important;
    }

    .travel-insurance-new td {
        font-size: 18px !important;
    }

    .travel-insurance-new label.form-check-label {
        font-size: 18px !important;
    }

    .travel-insurance-new .blue-overlay {
        position: absolute;
        background-color: #1b1464 !important;
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    .travel-insurance-new .topright {
        position: absolute;
        top: 2px;
        right: 0px;
        width: 320px;
        height: 125px;
      }

      .travel-insurance-new .header-overlay {
        z-index: 10;
    }

    .travel-insurance-new .bt4 {
        font-size: 21px !important;
    }
    .travel-insurance-new .b-bottom {
        border-bottom: 1px solid #b0acc4 !important;
    }
    .travel-insurance-new .selection-planbox{
        height: 399px !important;
        width: 201px !important;
    }
    .travel-insurance-new .selection-planbox .box {
        height: 399px !important;
        width: 201px !important;
    }

    .travel-insurance-new .swiper-slide:last-child {
        margin-right: 0px !important;
    }

    .travel-insurance-new svg.icon-xs {
        fill: black !important;
        height: 18px !important;
        width: 16px !important;
    }
    
    .travel-insurance-new svg.icon-xxs {
        fill: white !important;
        height: 18px !important;
        width: 16px !important;
    }

    .travel-insurance-new .icon-minipa {
        width: 96px; 
        height:96px;
    }
}

@media (max-width: 720px) {
    .travel-insurance-new .mb-30 {
        margin-bottom: 30px;
    }

    .travel-insurance-new .background-header {
        padding:97px 47px !important;
    }

    .travel-insurance-new .section-title-padding {
        padding-bottom:118px !important;
    }

    .travel-insurance-new .blue-overlay {
        position: absolute;
        background-color: #1b1464 !important;
        opacity: 0.5;
        width: 100%;
        height: 100%;
    }

    .travel-insurance-new .header-overlay {
        z-index: 10;
    }

    .travel-insurance-new .selection-planbox .box {
        width: 290px !important;
        height: 290px !important;
    }

    .travel-insurance-new svg.icon-xs {
        fill: black !important;
        height: 12px !important;
        width: 12px !important;
    }
    
    .travel-insurance-new  svg.icon-xxs {
        fill: white !important;
        height: 12px !important;
        width: 12px !important;
    }
    .travel-insurance-new .icon-minipa {
        width: 76px; 
        height:76px;
    }

    .travel-insurance-new .swiper-button-next-pdp {
        right: -13px !important;
    }

    .travel-insurance-new  .swiper-button-prev-pdp {
        left: -13px !important;
    }
    
    .travel-insurance-new .swiper-button-next-pdp:after{
    font-size: 17px !important;
    color: white !important;
    background-color: #1B1464 !important;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    padding-left: 10px !important;
    padding-top: 4px !important;
    }

    .travel-insurance-new .swiper-button-prev-pdp:focus{
        border: none !important;
        outline: none !important;
    }

    .travel-insurance-new .swiper-button-prev-pdp:after{
        font-size: 17px !important;
        color: white !important;
        background-color: #1B1464 !important;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        padding-left: 7px !important;
        padding-top: 4px !important;
    }
    .travel-insurance-new .swiper-button-next-pdp:focus{
        border: none !important;
        outline: none !important;
    }
}

// .mcmpgs-list started

.travel-insurance-new  .mcmpgs-list.variant-bank {
    margin: 0 -0.5rem;
    display: flex;
    flex-wrap: wrap
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item {
    overflow: hidden;
    position: relative;
    margin: 0 .5rem;
    width: calc(100% / 1 - 1rem)
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item .wallet-rounded-checked {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid #1b1464;
    margin-right: 5px;
    margin-left: 12px
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item .wallet-rounded-checked .icon {
    opacity: 0;
    visibility: hidden
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item input[type=radio] {
    position: absolute;
    visibility: hidden
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item input[type=radio]:checked+label {
    box-shadow: inset 0 0 0 3px #1b1464
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item input[type=radio]:checked+label .wallet-rounded-checked {
    background-color: #27ae60;
    border-color: #27ae60
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item input[type=radio]:checked+label .wallet-rounded-checked .icon {
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    color: #fff;
    margin-left: 2px;
    margin-top: 1px
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item label {
    height: 46px;
    display: flex;
    box-shadow: inset 0 0 0 .5px #1b1464;
    align-items: center;
    transition: .2s ease;
    padding: 0 !important
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item label:hover {
    cursor: pointer
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item label .wallet-rounded-checked {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #1b1464
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item .bank-logo {
    flex: 0 0 100px;
    padding-bottom: 65%;
    margin-right: 5px;
    overflow: hidden;
    position: relative
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item .bank-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8)
}

.travel-insurance-new  .mcmpgs-list.variant-bank .list-item .bank-name {
    font-size: 12px;
    line-height: 100%;
    flex-grow: 1
}

@media(min-width: 768px) {
    .travel-insurance-new  .mcmpgs-list.variant-bank {
        margin:0 6.25rem 0 -0.75rem
    }

    .travel-insurance-new  .mcmpgs-list.variant-bank .list-item {
        width: calc(100% / 1.7 - (.75rem * 2));
        margin: 0 .75rem
    }

    .travel-insurance-new  .mcmpgs-list.variant-bank .list-item .bank-logo {
        flex: 0 0 100px;
        padding-bottom: 20%
    }

    .travel-insurance-new  .mcmpgs-list.variant-bank .list-item .bank-name {
        font-size: 1rem
    }
    .travel-insurance-new  .paymentTotalsubContainer{
        height:60px;
    }
}

// .mcmpgs-list ended

// errorMsgContainer started
//main
.errorMsgContainer{z-index: 2002;position:fixed;bottom:3em;right:1em;width:90%;color:#ffffff;-webkit-box-shadow:0px 0px 3px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 0px 3px rgba(50, 50, 50, 0.75);box-shadow:0px 0px 3px rgba(50, 50, 50, 0.75);-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:1em;background:#870204;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3MDIwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2E1MDMwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNDAwMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #870204 0%, #a50306 50%, #c40003 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #870204), color-stop(50%, #a50306), color-stop(100%, #c40003));background:-webkit-linear-gradient(top, #870204 0%, #a50306 50%, #c40003 100%);background:-o-linear-gradient(top, #870204 0%, #a50306 50%, #c40003 100%);background:-ms-linear-gradient(top, #870204 0%, #a50306 50%, #c40003 100%);background:linear-gradient(to bottom, #870204 0%, #a50306 50%, #c40003 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#870204', endColorstr='#c40003', GradientType=0);}
.errorMsgContainer ul{padding:0;margin:0;list-style:none;}
.errorMsgContainer ul li:before{content:"\00bb";}
.errorMsgContainer a{display:block;text-align:right;color:#ffffff;font-family:'pt_sansbold',Tahoma,Geneva,sans-serif;}
.errorMsgContainer:after{border-color:#c40003 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);border-style:solid;border-width:8px;bottom:-0.9em;content:"";position:absolute;right:1em;}
.errorMsgContainer{width:400px;}
// banca
.errorMsgContainer{
    background:#e22026;
    filter:none;
    bottom:6em;
    right:5em;  
  }
  .errorMsgContainer a{
    width:120px;
    height:40px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    line-height:40px;
    text-align:center;
    background-color:darkblue;
  }
  .errorMsgContainer a:hover{
      color:#ffffff;
  }
  .errorMsgContainer:after{
    border-color:#e22026 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
  }

  @media(max-width: 768px){
    .errorMsgContainer{ right:2em }
  }

  @media(max-width: 568px){
    .errorMsgContainer{ right:1em }
  }

  // errorMsgContainer ended

  // asked to add by sin liang
  .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
  }

  .travel-insurance-new.mini-pa .tick-mark.blacktick{
      color:#000;
  }

  .travel-insurance-new.mini-pa .custom-rounded-checked .tick-mark.my-2{
      color:#fff;
      font-size: 25pt;
      vertical-align: middle;
  }

  .travel-insurance-new.mini-pa input[type="text"]::placeholder,
  .travel-insurance-new.mini-pa input[type="text"]::-webkit-input-placeholder,
  .travel-insurance-new.mini-pa input[type="text"]:-ms-input-placeholder{
      font-style: italic !important;
  }

  .travel-insurance-new.mini-pa .form-check-input.is-invalid~.form-check-label{
      color:#000;
  }

  .travel-insurance-new.mini-pa .swiperIcon{
      position:absolute;
      left:20%;
      top: 15%;
      vertical-align: middle;
  }
  .travel-insurance-new.mini-pa .swiper-button-next-form .swiperIcon{
      transform: rotate(270deg);
  }
  .travel-insurance-new.mini-pa .swiper-button-prev-form .swiperIcon{
    transform: rotate(90deg);
    position: absolute;
    top:16%;
    left:10%;
  }
  .travel-insurance-new.mini-pa .tncErrorMsg{
    padding-left:12px;
  }
  .travel-insurance-new.mini-pa .vertical-scroller .planBereavementAllowance{
      position:absolute;
      right:calc(0% + .5rem);
  }
  .navBottom-client a {
      text-decoration: none;
  }
  .travel-insurance-new.mini-pa .emailTooltip{
    margin-top:3px;
  }
  .travel-insurance-new.mini-pa span.TNCclick{
      cursor:pointer;
  }
  .travel-insurance-new.mini-pa span.text-danger:hover,
  .travel-insurance-new.mini-pa span.text-danger:focus{
    color:#a71d2a !important;
    text-decoration: none;
 }
 .travel-insurance-new label{
     cursor:pointer;
 }

 @media only screen and (max-width: 600px){
    .tooltip-inner {
        width: 20vh;
    }
    .travel-insurance-new #tnc-modal{
        height:calc(100% - 30px);
    }
}

.travel-insurance-new.mini-pa .wizard-section-1 .wizard-navigation{
    margin-bottom: 120px;
}

@import "custom/overrides";


@import "node_modules/swiper/swiper";
@import "node_modules/swiper/css/swiper";


